Repository Command-Compass/Command-Compass, pull requests merged in 2024-05, with the labels that each got.

#14 Main Branch updation
  LICENSE
  README.md
  backend/.gitignore
  backend/app.js
  backend/controllers/commandController.js
  backend/database.js
  backend/modules/commands.js
  backend/modules/commandsArguments.js
  backend/package.json
  frontend/.gitignore
  frontend/README.md
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/yarn.lock
  project_structure.txt
Labels: Main Update from QA

#21 Issues templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation_task.md
  .github/ISSUE_TEMPLATE/task_issue.md
Labels: documentation

#23 Issues templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_task.yml
  .github/ISSUE_TEMPLATE/task_issue.yml
Labels: documentation

#26 Jayu
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.js
  frontend/yarn.lock
Labels: frontend

#36 Create greet_user_on_new_issue.yml
  .github/workflows/greet_user_on_new_issue.yml
Labels: documentation
